* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #000;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 500;
}

input,
textarea,
select {
  font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

a {
  color: #000;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "GT-Eesti", Arial;
  font-weight: 500;
  color: #000;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@font-face {
  font-family: "GT-Eesti";
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Light.woff") format("woff"),
    url("../fonts/GT-Eesti-Pro-Text-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT-Eesti";
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff"),
    url("../fonts/GT-Eesti-Pro-Text-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GT-Eesti";
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff"),
    url("../fonts/GT-Eesti-Pro-Text-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "GT-Eesti";
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff2") format("woff2");
  src: url("../fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff"),
    url("../fonts/GT-Eesti-Pro-Text-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

::-webkit-input-placeholder {
  color: #9b9b9b;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9b9b9b;
  opacity: 1;
}
::-ms-input-placeholder {
  color: #9b9b9b;
  opacity: 1;
}

::placeholder {
  color: #9b9b9b;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #9b9b9b;
}

::-ms-input-placeholder {
  color: #9b9b9b;
}
a.button {
  padding: 12px 30px;
  background-color: #00bfd8;
  color: #fff;
  border-radius: 50px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
#home {
  position: relative;
  background: url(../images/header-background.jpg) no-repeat;
  background-size: cover;
  top: 0;
  right: 0;
}
#home header {
  padding: 30px 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#home header h1 {
  width: 80px;
}
#home header h1 a {
  display: inline-block;
  font-size: 12px;
}
#home header h1 a img {
  display: inline-block;
  width: 100%;
}
#home header nav ul {
  display: flex;
  justify-content: space-between;
}
#home header nav ul li {
  margin-right: 15px;
}
#home header nav ul li:last-child {
  margin-right: 0;
}
#home header nav ul li:nth-child(6) {
  margin-right: 30px;
}
#home header nav ul li a {
  display: inline-block;
  color: #fff;
}
#home header nav ul li a span {
  width: 10px;
  display: inline-block;
}
#home header nav ul li a span img {
  width: 100%;
  display: block;
}
#home header nav ul li a.one {
  display: inline-block;
  width: 20px;
}
#home header nav ul li a.one img {
  display: block;
  width: 100%;
}
#home section.spotlight {
  padding: 30px 0;
}
#home section.spotlight div.container {
  display: flex;
  justify-content: space-between;
}
#home section.spotlight div.container div.content {
  width: 45%;
}
#home section.spotlight div.container div.content h1 {
  font-size: 50px;
  margin-bottom: 20px;
  width: 90%;
  font-family: "GT-Eesti";
  font-weight: 600;
  color: #3b3b3b;
}
#home section.spotlight div.container div.content h1 span {
  color: #00bfd8;
  font-family: "GT-Eesti";
  font-weight: 600;
}
#home section.spotlight div.container div.image {
  width: 45%;
}
#home section.spotlight div.container div.image img {
  width: 100%;
  display: block;
}
#home section.spotlight div.container div.content p {
  color: #7c7c7c;
  margin-bottom: 20px;
}
#main {
  padding: 50px 0;
}
#main div.top {
  margin-bottom: 90px;
}
#main div.top h3 {
  text-align: center;
  color: #3b3b3b;
  font-family: "GT-Eesti";
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}
#main div.top ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
#main div.top ul li {
  width: 12%;
}
#main div.top ul li img {
  width: 100%;
  display: block;
}
#main div.middle {
  margin: 30px 0;
}
#main div.middle h2 {
  text-align: center;
  font-family: "GT-Eesti";
  font-size: 40px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 20px;
}
#main div.middle p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: #7c7c7c;
}
#main div.card {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#main div.card div.items {
  width: 31%;
  padding: 35px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
#main div.card div.items div.image {
  width: 35%;
  margin: 0 auto;
  margin-bottom: 30px;
}
#main div.card div.items div.image image {
  display: block;
  width: 100%;
}
#main div.card div.items h4 {
  font-family: "GT-Eesti";
  font-size: 23px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 20px;
}
#main div.card div.items p {
  color: #7c7c7c;
}
#about {
  padding-top: 80px;
}
#about div.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about div.container div.content {
  width: 47%;
  margin-bottom: 100px;
}
#about div.container div.content h2 {
  font-size: 43px;
  margin-bottom: 30px;
  width: 85%;
  font-family: "GT-Eesti";
  font-weight: 600;
  color: #3b3b3b;
}
#about div.container div.content p {
  color: #7c7c7c;
  margin-bottom: 30px;
  width: 88%;
}
#about div.container div.content.two p {
  margin-bottom: 0;
}
#about div.container div.content.two a.button {
  margin-top: 30px;
}
#about div.container div.content.two p span {
  display: inline-block;
  width: 12px;
}
#about div.container div.content.two p span img {
  display: block;
  width: 100%;
}
#about div.container div.content img {
  width: 100%;
  display: block;
}
#middle {
  padding-bottom: 100px;
}
#middle div.top {
  margin: 30px 0 50px;
}
#middle div.top h2 {
  text-align: center;
  font-family: "GT-Eesti";
  font-size: 40px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 20px;
}
#middle div.top p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  color: #7c7c7c;
}
#middle div.bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#middle div.bottom div.item {
  text-align: center;
  padding: 35px 20px 45px;
  width: 31%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}
#middle div.bottom div.item h4 {
  font-family: "GT-Eesti";
  font-size: 25px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 10px;
}
#middle div.bottom div.item h6 {
  color: #7c7c7c;
  font-size: 16px;
  margin-bottom: 25px;
}
#middle div.bottom div.item div.position {
  position: relative;
}
#middle div.bottom div.item div.position hr.line {
  border: 1px solid #ededed;
  width: 75%;
  margin: 0 auto 25px;
}
#middle div.bottom div.item div.position span {
  top: 102px;
  left: 0;
  color: #00bfd8;
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
}
#middle div.bottom div.item div.position span.dolor {
  position: absolute;
  top: 30px;
  left: 130px;
  font-size: 16px;
  font-weight: normal;
}
#middle div.bottom div.item div.position span.dolor.one {
  top: 32px;
  left: 126px;
}
#middle div.bottom div.item div.position span.dolor.two {
  top: 32px;
  left: 137px;
}
#middle div.bottom div.item div.position span.num {
  position: absolute;
  top: 26px;
  left: 143px;
  font-size: 30px;
}
#middle div.bottom div.item div.position span.num.one {
  top: 26px;
  left: 138px;
}
#middle div.bottom div.item p {
  color: #b8b8b8;
  font-size: 17px;
}
#middle div.bottom div.item p span {
  width: 12px;
  display: inline-block;
  margin-right: 5px;
}
#middle div.bottom div.item p span img {
  width: 100%;
  display: block;
}
#middle div.bottom div.item a.button {
  position: absolute;
  bottom: -18px;
  left: 146px;
}
#middle div.bottom div.item a.button.one {
  bottom: -18px;
  left: 584px;
}
#middle div.bottom div.item a.button.two {
  bottom: -18px;
  left: 1026px;
}
#form {
  padding: 80px 80px 100px;
  background-color: #fafbfd;
}
#form section.container {
  display: flex;
  justify-content: space-between;
}
#form section.container div.content {
  width: 48%;
}
#form section.container div.content h2 {
  font-family: "GT-Eesti";
  font-size: 40px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 20px;
  width: 85%;
}
#form section.container div.content p.one {
  color: #b8b8b8;
  margin-bottom: 25px;
}
#form section.container div.content p {
  color: #b8b8b8;
}
#form section.container div.content p span {
  width: 12px;
  display: inline-block;
  margin-right: 5px;
}
#form section.container div.content p span img {
  width: 100%;
  display: block;
}
#form section.container div.content p b {
  color: #757678;
  font-weight: 500;
}
#form section.container div.form {
  width: 48%;
  position: relative;
}
#form section.container div.form input.one {
  background: #fff;
  width: 100%;
  height: 40px;
  cursor: pointer;
  border: 1px solid #7c7c7c;
  border-radius: 4px;
  margin-bottom: 25px;
  padding-left: 20px;
}
#form section.container div.form label {
  font-size: 15px;
  color: #757678;
}
#form section.container div.form label span {
  text-decoration: underline;
}
#form section.container div.form span.one {
  width: 12px;
  display: inline-block;
  position: absolute;
  bottom: 111px;
  right: 14px;
}
#form section.container div.form span.one img {
  display: block;
  width: 100%;
}
#form section.container div.form a.button {
  display: block;
  text-align: center;
  margin-top: 15px;
}
#video{
  padding: 80px;
}
#video section.container{
  text-align: center;
}
#video section.container h2{
  font-family: "GT-Eesti";
  font-size: 40px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 40px;
}
#video section.container div.image{
  width:100%;
  margin-bottom: 30px;
}
#video section.container div.image img{
  display: block;
  width: 100%;
  border-radius: 4px;
}
#video section.container p{
  color: #b8b8b8;
  width: 80%;
  font-size: 20px;
  margin:0 auto;
  font-size: 18px;
}
#video section.container p span{
  color:  #3b3b3b;
  font-weight: 500;
}
#team{
  padding: 80px 0 120px;
}
#team h2{
  font-family: "GT-Eesti";
  font-size: 40px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 40px;
  text-align: center;
}
#team p{
  color: #b8b8b8;
  width: 80%;
  margin:0 auto;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
#team div.bottom {
  display: flex;
  justify-content: space-between;
}
#team div.bottom div.team{
  width: 30%;
}
#team div.bottom div.team div.img{
  width: 60%;
  margin:0 auto 20px;
}
#team div.bottom div.team div.img img{
  width: 100%;
  display: block;
  border-radius: 50%;
}
#team div.bottom div.team h4{
  font-family: "GT-Eesti";
  font-size: 14px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 8px;
  text-align: center;
}
#team div.bottom div.team h5{
  color: #b8b8b8;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
}
#team div.bottom div.team div.icon {
  text-align: center;
}
#team div.bottom div.team div.icon span {
  width: 20px;
  display: inline-block;
}
#team div.bottom div.team div.icon span img{
  display: block;
  width: 100%;
}
footer div.top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
footer div.top div.item{
  width: 32%;
}
footer div.top div.item.one{
  width: 28%;
}
footer div.top div.item.two{
  width: 18%;
}
footer div.top div.item h5{
  font-family: "GT-Eesti";
  font-size: 20px;
  font-weight: 600;
  color: #3b3b3b;
  margin-bottom: 15px; 
}
footer div.top div.item p{
  font-size: 15px;
  color: #3b3b3b;
  width: 95%;
}
footer div.top div.item ul li{
  list-style: square;
  color: #00bfd8;
}
footer div.top div.item ul li a{
  color: #00bfd8;
  text-decoration: underline;
}
footer div.top div.item div.major span {
  width: 25px;
  display: inline-block;
} 
footer div.top div.item div.major span img{
  width: 100%;
  display: block;
}
footer div.bottom hr.line{
  border: 0.5px solid #b8b8b8;
}
footer div.bottom p{
  color: #b8b8b8;
  font-size: 12px;
  text-align: center;
  margin: 20px 0;
}
@media all and (max-width: 1280px){
  #home section.spotlight div.container div.content h1 {
    font-size: 45px;
    width: 100%;
  }
  #about div.container div.content h2 {
    font-size: 35px;
    width: 100%;
  }
  #about div.container div.content.two p {
    font-size: 14px;
  }
  #middle div.bottom div.item a.button {
    left: 90px;
  }
  #middle div.bottom div.item a.button.one {
  left: 413px;
  }
  #middle div.bottom div.item a.button.two {
  left: 743px;
  }
  #middle div.bottom div.item div.position span.num {
    left: 95px;
  }
  #middle div.bottom div.item div.position span.num.one {
  left: 90px;
  }
  #middle div.bottom div.item div.position span.dolor {
  left: 84px;
  }
  #middle div.bottom div.item div.position span.dolor.one {
    left: 79px;
  }
  #middle div.bottom div.item div.position span.dolor.two {
    left: 89px;
  }
  #form {
    padding-left: 0;
    padding-right: 0;
  }
  #form section.container div.content h2 {
    font-size: 40px;
    width: 100%;
  }
  #video section.container p {
    width: 90%;
  }
  #team {
    padding-top: 40px ;
  }
  footer div.top div.item.one {
    width: 34%;
  }
} 
@media all and (max-width: 1050px){
    #home header nav ul li a {
      font-size: 15px;
  }
  #main div.card div.items p {
    font-size: 14px;
  }
  #about div.container div.content p {
    width: 100%;
  }
  #middle div.bottom div.item div.position span.num {
    left: 85px;
  }
  #middle div.bottom div.item div.position span.num.one {
    left: 80px;
  }
  #middle div.bottom div.item div.position span.dolor.one {
    left: 72px;
  }
  #middle div.bottom div.item div.position span.dolor.two {
    left: 80px;
  }
  #middle div.bottom div.item div.position span.dolor {
    left: 75px;
  }
  #middle div.bottom div.item h4 {
    font-size: 22px;
  }
  #middle div.bottom div.item h6 {
    font-size: 14px;
  }
  #middle div.bottom div.item p {
    font-size: 14px;
  }
  #middle div.bottom div.item a.button {
    left: 83px;
  }
  #middle div.bottom div.item a.button.one {
    left: 388px;
  }
  #middle div.bottom div.item a.button.two {
    left: 693px;
  }
  #form section.container div.form label {
    font-size: 12px;
  }
}
@media all and (max-width: 980px){
  #home header {
    padding-bottom: 60px;
  }
  #home header nav ul {
    display: none;
  }
  #home section.spotlight div.container div.content {
    width: 52%;
  }
  #home section.spotlight div.container div.content h1 {
    font-size: 30px;
  }
  #about div.container div.content h2 {
    font-size: 27px;
    width: 100%;
  }
  #about div.container div.content {
    width: 41%;
  }
  #about div.container div.content.four {
    width: 39%;
  }
  #about div.container div.content.one {
    width: 52%;
  }
  #about div.container div.content.two  {
    width: 57%;
  }
  #about div.container div.content p {
    font-size: 14px;
  }
  #middle {
    padding-bottom: 65px;
  }
  #middle div.top p {
    width: 85%;
  }
  #middle div.bottom {
    flex-wrap: wrap;
  }
  #middle div.bottom div.item {
    width: 47%; 
    margin-bottom: 50px;
  }
  #middle div.bottom div.item.three {
    margin: 0 auto;
  }
  #middle div.bottom div.item a.button {
    left: 83px;
  }
  #middle div.bottom div.item a.button.one {
    left: 287px;
  }
  #middle div.bottom div.item a.button {
    left: 99px;
    bottom: 439px;
  }
  #middle div.bottom div.item a.button.two {
    left: 474px;
    bottom: 440px;
  }
  #middle div.bottom div.item div.position span.num {
    left: 108px;
  }
  #middle div.bottom div.item div.position span.dolor {
    left: 96px;
  }
  #middle div.bottom div.item div.position span.num.one {
    left: 104px;
  }
  #middle div.bottom div.item div.position span.dolor.one {
    left: 93px;
  }
  #middle div.bottom div.item div.position span.dolor.two {
    left: 104px;
  }
  #form{
    padding: 50px 0;
  }
  #form section.container div.content h2 {
    font-size: 35px;
  }
  #form section.container {
   flex-wrap: wrap;
  }
  #form section.container div.content {
    width: 70%;
    margin: 0 auto 60px;
  }
  #form section.container div.form {
    width: 80%;
    margin: 0 auto;
  }
  #video {
    padding: 50px;
  }
  footer div.top {
    flex-wrap: wrap;
  }
  footer div.top div.item {
    width: 45%;
  }
  footer div.top div.item.one {
    width: 45%;
  }
  footer div.top div.item.two {
    width: 45%;
    margin: 30px auto 0;
  }
  footer div.top div.item h5 {
    text-align: center;
  }
  footer div.top div.item div.major{
    text-align: center;
  } 
}
@media all and (max-width: 768px){
  #home section.spotlight div.container div.content p {
   font-size: 15px;
  }
#home section.spotlight div.container div.content {
  width: 57%;
  }
#home section.spotlight div.container div.image {
  width: 37%;
  } 
#main div.middle h2 {
 font-size: 36px;
  }
#main div.middle p {
  width: 85%;
  }
#main div.card{
  flex-wrap: wrap;
  }
#main div.card div.items {
  width: 47%;
  }
#main div.card div.items.three {
 margin: 40px auto 0;
  }
#about {
  padding-top: 35px;
  }
#about div.container{
  flex-wrap: wrap;
  }
#about div.container div.content.one {
  width: 75%;
  margin: 0 auto;
  }
#about div.container div.content.three {
  display: none;
  }
#about div.container div.content.four{
  display: none;
  }
#about div.container div.content.two {
  width: 75%;
  margin: 40px auto 0;
  }
#middle {
  padding-top: 50px;
  }
#middle div.top h2 {
  font-size: 35px;
  }
#middle div.bottom div.item div.position span.num {
  left: 84px;
  }
#middle div.bottom div.item div.position span.num.one {
  left: 80px;
  }
#middle div.bottom div.item div.position span.dolor {
  left: 73px;
  }
#middle div.bottom div.item div.position span.dolor.one {
  left: 71px;
  }
#middle div.bottom div.item a.button {
  left: 83px;
  bottom: 439px;
  }
#middle div.bottom div.item a.button.two {
  left: 387px;
  bottom: 440px;
  }
#middle div.bottom div.item div.position span.dolor.two {
  left: 79px;
  }
#middle div.bottom div.item a.button.one {
  left: 232px;
  }
#form section.container div.content {
  width: 85%;
  }
#video section.container h2 {
  font-size: 35px;
  }
#video section.container p {
  width: 100%;
  font-size: 16px;
  }
#team {
  padding: 25px 0 80px;
  }
#team h2 {
  font-size: 35px;
  }
#team p {
font-size: 16px;
  }
footer div.top div.item {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  }
footer div.top div.item.two {
  width: 90%;
  margin: 0 auto;
  }
footer div.top div.item.one {
  width: 90%;
  margin: 50px auto;
  }
footer div.top div.item.one ul li {
  list-style: none;
  }
footer div.top div.item h5 {
  font-size: 30px;
  }
}
@media all and (max-width: 640px){
  #home section.spotlight div.container div.image {
    display: none;
  }
  #home section.spotlight div.container div.content {
    width: 80%;
    margin: 0 auto;
  }
  #main div.top ul {
    width: 90%;
  }
  #main div.top ul li{
    width: 17%;
  }
  #main div.top {
    margin-bottom: 70px;
  }
  #main div.middle h2 {
    font-size: 30px;
  }
  #main div.middle p {
   font-size: 15px;
  }
  #main div.card div.items div.image {
    width: 45%;
  }
  #main div.card div.items h4 {
    font-size: 17px;
  }
  #main div.card div.items {
    padding: 17px;
  }
  #about div.container div.content.two {
    width: 90%;
  }
  #about div.container div.content.one {
    width: 90%;
  }
  #middle div.top h2 {
    font-size: 30px;
  }
  #middle div.top p {
    width: 90%;
  }
  #middle div.bottom div.item {
    width: 80%;
    margin: 0 auto 50px;
  }
  #middle div.bottom div.item div.position span.num {
    left: 119px;
  }
  #middle div.bottom div.item div.position span.dolor {
    left: 107px;
  }
  #middle div.bottom div.item div.position span.num.one {
    left: 115px;
  }
  #middle div.bottom div.item div.position span.dolor.one {
    left: 105px;
  }
  #middle div.bottom div.item a.button.two {
    left: 165px;
    bottom: 898px;
  }
  #middle div.bottom div.item a.button {
    left: 160px;
  }
  #middle div.bottom div.item div.position span.dolor.two {
    left: 115px;
  }
  #middle div.bottom div.item a.button.one {
    left: 158px;
  }
  #form section.container div.content h2 {
    font-size: 28px;
  }
  #form section.container div.content p {
    font-size: 14px;
  }
  #form section.container div.form {
    width: 85%;
  }
  #video section.container h2 {
    font-size: 28px;
  }
  #video section.container p {
    font-size: 14px;
  }
  #team h2 {
    font-size: 30px;
  }
  #team p {
    font-size: 14px;
  }
}
@media all and (max-width: 480px){
  #home{
    background: none;
  }
  #home header {
    padding-bottom: 35px;
  }
  #home section.spotlight div.container div.content p {
    font-size: 14px;
  }
  #main div.top ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  #main div.top ul li {
    width: 26%;
    margin-bottom: 30px;
    margin-right: 15px;
  }
  #main div.top {
  margin-bottom: 40px;
  }
  #main div.middle h2 {
    font-size: 25px;
  }
  #main div.middle p {
    font-size: 14px;
    width: 100%
  }
  #main div.card div.items {
    width: 80%;
    margin: 0 auto;
  }
  #main div.card div.items.one {
    margin-bottom: 40px;
  }
  #about div.container div.content.two p span {
    display: none;
  }
  #about div.container div.content.two p {
    font-size: 11px;
  }
  #about div.container div.content h2 {
    font-size: 21px;
  }
  #middle div.top h2 {
    font-size: 24px;
  }
  #middle div.top p {
    font-size: 14PX;
  }
  #middle div.bottom div.item div.position span.num {
    left: 78px;
  }
  #middle div.bottom div.item div.position span.dolor {
    left: 67px;
  }
  #middle div.bottom div.item a.button.two {
    left: 111px;
  }
  #middle div.bottom div.item div.position span.num.one {
    left: 74px;
  }
  #middle div.bottom div.item div.position span.dolor.one {
    left: 64px;
  }
  #middle div.bottom div.item a.button {
    left: 113px;
  }
  #middle div.bottom div.item div.position span.dolor.two {
    left: 74px;
  }
  #middle div.bottom div.item a.button.one {
    left: 113px;
  }
  #form section.container div.content h2 {
    font-size: 20px;
  }
  #form section.container div.content p span {
    display: none;
  }
  #form section.container div.content p b {
    font-size: 12px;
  }
  #form section.container div.content p.one {
    color: #b8b8b8;
    margin-bottom: 25px;
    font-size: 14px;
  }
  #form section.container div.content p {
    font-size: 12px;
  }
  #form section.container div.content {
    width: 95%;
  }
  #form section.container div.form input.one {
    height: 30px;
  }
  #form section.container div.form {
    width: 95%;
  }
  #form section.container div.form span.one {
    bottom: 125px;
  }
  #video section.container h2 {
    font-size: 20px;
  }
  #video {
    padding: 30px;
  }
  #team {
    padding-bottom: 50px;
  }
  #team div.bottom {
    flex-wrap: wrap;
  }
  #team div.bottom div.team {
    width: 50%;
    margin-bottom: 40px;
  }
  footer div.top div.item p {
    width: 100%;
  }
}
@media all and (max-width: 360px){
  a.button {
    padding: 8px 26px;
  }
  #home header {
    padding: 25px;
  }
  #home header h1 {
    width: 65px;
  }
  #home section.spotlight div.container div.content h1 {
    font-size: 26px;
  }
  #home section.spotlight div.container div.content p {
    font-size: 12px;
  }
  #main div.top ul {
    width: 95%;
  }
  #about div.container div.content.two {
    width: 92%;
  }
  #about div.container div.content.two p {
    font-size: 10px;
  }
  #middle div.bottom div.item {
    width: 90%;
  }
  #middle div.bottom div.item div.position span.num {
    left: 76px;
  }
  #middle div.bottom div.item div.position span.dolor {
    left: 65px;
  }
  #middle div.bottom div.item a.button.two {
    left: 95px;
  }
  #middle div.bottom div.item a.button {
    left: 92px;
  }
  #middle div.bottom div.item a.button.one {
    left: 93px;
  }
  #form section.container div.form span.one {
    bottom: 119px;
  }
  #form section.container div.content p {
    font-size: 10px;
  }
  #video {
    padding: 14px;
  }
  #team h2 {
    font-size: 26px;
    margin-bottom: 20px;
  }
  #team p {
    width: 100%;
  }
  footer div.top div.item p {
    font-size: 13px;
  }


















}

